{%extends 'home/base.html' %}
{% block title %}
FAQ
{% endblock %}
{% block content %}
<div class="b-example-divider"></div>
<div class="container py-4">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">На сколько канбан эффективен?</h1>
        <p class="col-md-8 fs-4">Он эффективен.....</p>
      </div>
</div>
</div>
<div class="b-example-divider"></div>
<div class="container py-4">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Заготовка под вопрос</h1>
        <p class="col-md-8 fs-4">Ответ</p>
      </div>
</div>
</div>
<div class="b-example-divider"></div>
<div class="container py-4">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Заготовка под вопрос</h1>
        <p class="col-md-8 fs-4">Ответ</p>
      </div>
</div>
</div>
<div class="b-example-divider"></div>
<div class="container py-4">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Заготовка под вопрос</h1>
        <p class="col-md-8 fs-4">Ответ</p>
      </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container py-4">
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">

      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Всё ещё не уверенны?</h1>
        <p class="lead">Никакие слова не объяснят, насколько методология канбан упрощает работу с проектами.
        Зарегистрируйтесь и попробуйте сами</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}